# Exercise: Exploratory Data Analysis with Pandas
## Instructions
1. Data Collection
    - Search and collect data on the following: (1993 - 2023)
        - Israel interest rates
        - US interest rates
        - USD to ILS exchange rates
    - For each dataset, create a pandas DataFrame with the following columns:
        - Year
        - Month
        - Current_Rate (Interest rate or exchange rate for that month)
        - Change_From_Last_Month (Difference in Current_Rate from the previous month)
        - Optional: You may include additional columns if you find them useful (e.g., Change_Percentage, Date).

In [117]:
import numpy as np
import pandas as pd

In [118]:
# your code here
dtypes_for_Israel_interest_rate = {
        'TIME_PERIOD': str,
        'OBS_VALUE': float,    
    }
columns_for_Israel_interest_rate = ['TIME_PERIOD', 'OBS_VALUE']

Israel_interest_rate_df = pd.read_csv('./BR.csv',usecols=columns_for_Israel_interest_rate , dtype=dtypes_for_Israel_interest_rate, low_memory=False)

Israel_interest_rate_df['year'] = Israel_interest_rate_df['TIME_PERIOD'].str.slice(0,4)
Israel_interest_rate_df['month'] = Israel_interest_rate_df['TIME_PERIOD'].str.slice(5,7)
Israel_interest_rate_df = Israel_interest_rate_df.drop_duplicates(['year', 'month'], ignore_index=True)
series_for_rate_comparison_Israel = Israel_interest_rate_df['OBS_VALUE'].shift(periods = 1) 
Israel_interest_rate_df['change from last month'] = Israel_interest_rate_df['OBS_VALUE'] - series_for_rate_comparison_Israel

In [119]:
dtypes_for_US_interest_rate = {
    'date': str,
    'value': float,
}
columns_for_US_interest_rate = ['date', 'value']

US_interest_rate_df = pd.read_csv('./fed-funds-rate-historical-chart.csv',usecols=columns_for_US_interest_rate , dtype=dtypes_for_US_interest_rate, low_memory=False)

US_interest_rate_df['year'] = US_interest_rate_df['date'].str.slice(0,4)
US_interest_rate_df['month'] = US_interest_rate_df['date'].str.slice(5,7)
US_interest_rate_df = US_interest_rate_df.drop_duplicates(['year','month'], ignore_index=True)
series_for_rate_comparison_US = US_interest_rate_df['value'].shift(periods = 1) 
US_interest_rate_df['change from last month'] = US_interest_rate_df['value'] - series_for_rate_comparison_US

In [120]:
dtypes_for_USD_NIS_exchange_rate = {
    'Date': str,
    'USD' : float,
}
columns_for_USD_NIS_exchange_rate = ['Date', 'USD']

USD_NIS_exchange_rate_df = pd.read_csv('./USD_NIS_exchange_rate.csv',usecols=columns_for_USD_NIS_exchange_rate , dtype=dtypes_for_USD_NIS_exchange_rate, low_memory=False)


USD_NIS_exchange_rate_df['year'] = USD_NIS_exchange_rate_df['Date'].str.slice(6)
USD_NIS_exchange_rate_df['month'] = USD_NIS_exchange_rate_df['Date'].str.slice(3,5)
USD_NIS_exchange_rate_df = USD_NIS_exchange_rate_df.drop_duplicates(['year','month'], ignore_index=True)
series_for_rate_comparison_USD_NIS = USD_NIS_exchange_rate_df['USD'].shift(periods = 1) 
USD_NIS_exchange_rate_df['change from last month'] = USD_NIS_exchange_rate_df['USD'] - series_for_rate_comparison_USD_NIS

## Part A: Single DataFrame Analysis 
1. Display the first 5 rows of the US interest rates DataFrame.

2. Calculate the average Israeli interest rate over the period covered by your data.

3. Find the month and year when the USD to ILS exchange rate had the highest increase from the previous month.

4. Determine the total number of months where the US interest rate decreased compared to the previous month.

5. Add a new column to the Israeli interest rates DataFrame called Change_Percentage, representing the percentage change from the previous month.

In [121]:
# A - 1
# your code here
US_interest_rate_df.head(5)

         date  value  year month  change from last month
0  1954-07-01   1.13  1954    07                     NaN
1  1954-08-01   0.25  1954    08                   -0.88
2  1954-09-01   1.44  1954    09                    1.19
3  1954-10-01   0.50  1954    10                   -0.94
4  1954-11-01   1.38  1954    11                    0.88

In [122]:
# A - 2
# your code here
Israel_interest_rate_df['OBS_VALUE'].mean()

4.894722222222222

In [123]:
# A - 3
# your code here
USD_NIS_exchange_rate_df[USD_NIS_exchange_rate_df['change from last month'] == USD_NIS_exchange_rate_df['change from last month'].max()]

USD_NIS_exchange_rate_df.sort_values('change from last month').dropna().tail(1)

          Date    USD  year month  change from last month
13  31/10/2023  4.017  2023    10                   0.303

In [124]:
# A - 4
# your code here

US_interest_rate_df[US_interest_rate_df['change from last month'] > 0].shape[0]

367

In [125]:
# A - 5
# your code here

Israel_interest_rate_df['change from last month (percentage)'] =  ((series_for_rate_comparison_Israel - Israel_interest_rate_df['OBS_VALUE']) / series_for_rate_comparison_Israel) * 100
Israel_interest_rate_df

,TIME_PERIOD,OBS_VALUE,year,month,change from last month,change from last month (percentage)
0,1994-01-27,10.50,1994,01,NaN,NaN
1,1994-02-01,10.50,1994,02,0.0,0.0
2,1994-03-01,10.50,1994,03,0.0,0.0
3,1994-04-01,10.50,1994,04,0.0,0.0
4,1994-05-01,10.50,1994,05,0.0,0.0
...,...,...,...,...,...,...
355,2023-08-01,4.75,2023,08,0.0,0.0
356,2023-09-01,4.75,2023,09,0.0,0.0
357,2023-10-01,4.75,2023,10,0.0,0.0
358,2023-11-01,4.75,2023,11,0.0,0.0
359,2023-12-01,4.75,2023,12,0.0,0.0

## Part B: Merging DataFrames
1. Merge the US and Israeli interest rates DataFrames on Year and Month.

2. In the merged DataFrame, create a new column Rate_Difference that shows the difference between the Israeli and US interest rates for each month.

3. Identify all months when the Israeli interest rate was at least 1% higher than the US interest rate - IH (Israeli Higher).
Identify all months when the US interest rate was at least 1% higher than the Israeli interest rate - UH (US Higher).
Identify all months when the interest rates were within 1% of each other - N (Near)
make a new column called Rate_Comparison with the following values: IH, UH, or N.

4. Merge the exchange rate DataFrame with the merged interest rates DataFrame.

5. After merging all three DataFrames, find the correlation between the Rate_Difference and the Current_Rate of the exchange rate.
hint: find the connection between the difference in interest rates and the exchange rates, use any method you think is appropriate.
provide an explanation of the results (in Hebrew) - at least 2 rows of text + a proof of the connection(some output) you found.

In [126]:
# B - 1
# your code here
Israel_US_interest_rate_df = pd.merge(Israel_interest_rate_df, US_interest_rate_df, on=['year', 'month'])
Israel_US_interest_rate_df.rename(columns={'OBS_VALUE':'israel rate', 'change from last month_x':'israel monthly change', 'change from last month_y':'us monthly change', 'value':'us rate'}, inplace=True)
Israel_US_interest_rate_df.drop(columns=['TIME_PERIOD', 'date', 'change from last month (percentage)'], inplace=True)

In [127]:
# B - 2
# your code here
Israel_US_interest_rate_df['rate difference'] = Israel_US_interest_rate_df['israel rate'] - Israel_US_interest_rate_df['us rate']

In [128]:
# B - 3
# your code here
def compare_rate_difference(israel_rate, us_rate):
    diff = ((israel_rate - us_rate) / israel_rate) * 100
    return 'IH' if diff > 1 else 'UH' if diff < -1 else 'N' 
    
Israel_US_interest_rate_df['rate comparison'] = Israel_US_interest_rate_df[['israel rate', 'us rate']].apply(lambda df: compare_rate_difference(df['israel rate'], df['us rate']), axis=1)

In [129]:
# B - 4
# your code here
all_data = pd.merge(Israel_US_interest_rate_df, USD_NIS_exchange_rate_df, on=['year', 'month'])
all_data.rename(columns={'change from last month':'usd monthly change'}, inplace=True)
all_data.drop(columns=['Date'], inplace=True)

In [150]:
# B - 5
# your code here
all_data[['USD', 'rate difference']].corr(method='pearson')
# כפי שאפשר לראות בטבלה מתחת יש קורילציה שלילית כלומר 
# כלומר כאשר הדולר עולה הפער בין הרבית בישראל לרבית בארצות הברית יורד
# וכאשר הדולר יורד הפער בין הרבית בישראל לרבית בארצות הברית עולה

                      USD  rate difference
USD              1.000000        -0.116971
rate difference -0.116971         1.000000

## Part C: Analyzing Relationships Between DataFrames
1. Analyze whether increases in US interest rates are associated with increases or decreases in the USD to ILS exchange rate in the same month.

2. Determine if changes in the Israeli interest rate have a stronger impact on the exchange rate than changes in the US interest rate.

3. Find any time lags in the effect of interest rate changes on the exchange rate. For example, does a change in US interest rates affect the exchange rate in the following month?
(כלומר- האם כשיש שינוי בריבית כלשהי - האם מייד יש שינוי בשער ההמרה? או שיש דיליי של חודש/חודשים עד שמרגישים את ההשפעה - אם בכלל?)

4. Calculate the rolling past 3-month average of the exchange rate for each data time, and add it as a new column.

5. Identify any periods where both US and Israeli interest rates were decreasing, and analyze how the exchange rate behaved during those periods.

In [212]:
us_rate_and_dollar_up = all_data[(all_data['us monthly change'] > 0) & (all_data['usd monthly change'] > 0 )].shape[0]
us_rate_down_and_dollar_up = all_data[(all_data['us monthly change'] <= 0) & (all_data['usd monthly change'] > 0 )].shape[0]
us_rate_and_us_dollar_down = all_data[(all_data['us monthly change'] <= 0) & (all_data['usd monthly change'] <= 0 )].shape[0]
us_rate_up_and_dollar_down = all_data[(all_data['us monthly change'] > 0) & (all_data['usd monthly change'] < 0 )].shape[0]

us_rate_and_dollar_up > us_rate_down_and_dollar_up 
us_rate_and_us_dollar_down > us_rate_up_and_dollar_down

# what we can see from this calculation is that there is connection between the rate and the dollar going down but not necessarily for going up

False

In [139]:
israel_rate_and_dollar_up = all_data[(all_data['israel monthly change'] > 0) & (all_data['usd monthly change'] > 0 )].shape[0]
israel_rate_down_and_dollar_up = all_data[(all_data['israel monthly change'] <= 0) & (all_data['usd monthly change'] > 0 )].shape[0]
israel_rate_and_us_dollar_down = all_data[(all_data['israel monthly change'] <= 0) & (all_data['usd monthly change'] <= 0 )].shape[0]
israel_rate_up_and_dollar_down = all_data[(all_data['israel monthly change'] > 0) & (all_data['usd monthly change'] < 0 )].shape[0]

israel_rate_and_dollar_up > israel_rate_down_and_dollar_up 
israel_rate_and_us_dollar_down > israel_rate_up_and_dollar_down
# what we can see from this calculation is that the israeli rate doesnt seem to have a stronger impact

True

In [148]:
# B - 5
# your code here
all_data[['USD', 'rate difference']].corr(method='pearson')

                      USD  rate difference
USD              1.000000        -0.116971
rate difference -0.116971         1.000000

In [215]:
lags = [all_data['USD'].shift(-lag) for lag in range(1, 4)]
all_data['one month lag'] = lags[0]
all_data['two month lag'] = lags[1]
all_data['three month lag'] = lags[2]


us_rate_and_dollar_up1 = all_data[(all_data['one month lag'] > 0) & (all_data['usd monthly change'] > 0 )].shape[0]
us_rate_down_and_dollar_up1 = all_data[(all_data['one month lag'] <= 0) & (all_data['usd monthly change'] > 0 )].shape[0]
us_rate_and_dollar_up1 > us_rate_down_and_dollar_up1 

us_rate_and_dollar_up2 = all_data[(all_data['two month lag'] > 0) & (all_data['usd monthly change'] > 0 )].shape[0]
us_rate_down_and_dollar_up2 = all_data[(all_data['two month lag'] <= 0) & (all_data['usd monthly change'] > 0 )].shape[0]
us_rate_and_dollar_up2 > us_rate_down_and_dollar_up2 

us_rate_and_dollar_up3 = all_data[(all_data['three month lag'] > 0) & (all_data['usd monthly change'] > 0 )].shape[0]
us_rate_down_and_dollar_up3 = all_data[(all_data['three month lag'] <= 0) & (all_data['usd monthly change'] > 0 )].shape[0]
us_rate_and_dollar_up3 > us_rate_down_and_dollar_up3 


# what we could see from the above example is that there is a lag between the increase of the interest rate and the exchange rate

True

In [140]:
all_data['3 month usd avg'] = (all_data['USD'] + all_data['USD'].shift(1) + all_data['USD'].shift(2)) / 3

In [144]:
us_rate_and_israel_rate_down_and_dollar_down = all_data[(all_data['israel monthly change'] < 0) & (all_data['us monthly change'] < 0 ) & (all_data['usd monthly change'] < 0)]
us_rate_and_israel_up_and_dollar_down = all_data[(all_data['israel monthly change'] >= 0) & (all_data['us monthly change'] >= 0 ) & (all_data['usd monthly change'] < 0)]
us_rate_and_israel_rate_down_and_dollar_down.shape[0] > us_rate_and_israel_up_and_dollar_down.shape[0]
us_rate_and_israel_rate_down_and_dollar_down['USD'].describe()
# no we can see that there is no direct connection between both rates being down and the exchange rate

count    26.000000
mean      3.951154
std       0.437817
min       2.951000
25%       3.665750
50%       4.037000
75%       4.247000
max       4.602000
Name: USD, dtype: float64

In [ ]:
# Bonus

# Bonus
choose 3 global / local events or periods that you think could have affected the exchange rate or interest rates
and analyze the effect of these events on the data you collected.
show proof of your analysis that supports your claim.

(כלומר- תבחנו אירועים שקרו בתקופה שאתם עובדים עליה ובדקו איך הם השפיעו על הנתונים שאתם עובדים איתם)
למשל: בחירות בארה״ב, בחירות בישראל, רוסיה אוקראינה, מלחמות בישראל וכו׳.

In [186]:
#חרבות ברזל
all_data[(all_data['usd monthly change']) > 0.3]
all_data[(all_data['usd monthly change']) > 0.2]
all_data[(all_data['year'] == '2023') & (all_data['month'] == '10')]
# כפי שניתן לראות יש רק מקרה אחד שהעליה החדושית הייתה בכזה פער גדול של יותר מ0.3 
# ואפילו עליה של 0.2 יש רק שלוש פעמים
# ולכן ניתן לקבוע שהעלייה הזאת קרתה בעקבות המלחמה

#המשבר הגדול 2008
avg_us_monthly_change = all_data['us monthly change'].mean()
all_data[(all_data['year'] == '2008')]['us monthly change']  < avg_us_monthly_change
# כפי שניתן לראות באותה שנה ברוב מוחלט של החודשים 
# העליה ברבית הייתה יותר נמוכה מהרגיל

# בחירות 2020
all_data.groupby('year')['us monthly change'].mean()
# כפי שניתן לראות כן הייתה ירידה חדה אך היא לא בהכרח קשורה לבחירות
# כי באותה תקופה גם היה את מגפת הקורונה שגם יכלה להשפיע על המדד

year
1994    0.201667
1995    0.005833
1996   -0.010000
1997    0.040000
1998   -0.091667
1999    0.074167
2000    0.074167
2001   -0.378333
2002   -0.069167
2003   -0.016667
2004    0.084167
2005    0.165833
2006    0.103333
2007   -0.050833
2008   -0.345000
2009   -0.032500
2010    0.005833
2011   -0.010000
2012    0.006667
2013   -0.007500
2014    0.005000
2015    0.000000
2016    0.023333
2017    0.062500
2018    0.085833
2019   -0.052500
2020   -0.122500
2021   -0.000833
2022    0.312500
2023    0.125000
Name: us monthly change, dtype: float64